.main{
    margin-top: 50px;
    padding: 0 5%;
}

.main h1{
    font-family: "MainFont900";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color:#171C4B;
}

.main p{
    color: #171C4B;
    font-size: 18px;
    margin: 20px 0;
}

.main-buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;

}

.main-buttons button{
    padding: 20px 40px;
    margin-right:40px;
    box-shadow: 10px 10px 20px 0px #00000040;
    box-sizing: border-box;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
}

.main-buttons a button{
    border: none;
    background-color: #FD003A;
    color: #fff;
    transition: .4s;
}

.main-buttons a button:hover{
    background-color: #ea1144;
}

.main-buttons button{
    border: none;
    background-color: #fff;
    color: #171C4B;
    transition: .4s;
}

.main-buttons button{
    background-color: rgb(243, 243, 243);
}

